* {
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;
}
/*Inicio Index*/
.navbar{
    background-color: $rosa;
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;

    .navbar-collapse {
        flex-grow: initial;
    }

    .nav-link {
        color: #8c2f39;
        font-size: 1.5rem;

            &:hover{
                color: $blanco;
        }
    }
}

.footer {
    background-color: $rosa;
    font-size: 1.5rem;
    padding: 30px;
    margin-top: 0px;
    border-top: 1px solid $blanco;
    
    &__tittle {
        @extend .tittle;
    }
    
    ul {
    display: flex;
    justify-content: center;

        li {
            list-style-type: none;
            margin: 0px 10px;
        }
    }
}
    .bi {
        font-size: 2rem;
    
            &:hover{
                color: $bordo;
    }
}

/*Fin Index*/

// Extends

.tittle {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: $shadow;
    text-align: center;
    padding: 10px;
}

.description {
    text-align: center;
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}


// Mixin

@mixin grid($cantidadColumna, $cantidadFila) {
    display: grid;
    grid-template-columns: repeat($cantidadColumna, 1fr);
    grid-template-rows: repeat($cantidadFila, 1fr);
}