@import "variables";
@import "estilosGenerales"; 
@import "mediasQueries";


/*Inicio Index*/
  .main__index {
    height: 80vh;
    background-image: url(https://img.elo7.com.br/product/main/19D1B80/anel-cravejado-com-zirconias-folheado-em-ouro-18k.jpg);
    background-size: cover;
    max-width: 100%;
    @include grid(10, 1fr);
    @include grid(8, 1fr);
    border-top: 1px solid $blanco;

    div{
      grid-column: 7/10;
      grid-row: 2/7;

      h1 {
        font-size: 2.5rem;
        font-weight: 500;
      }
      h2 {
        font-size: 4rem;
        color: $bordo;
        text-transform: uppercase;
        text-shadow: $shadow;
      } 
      p {
        font-weight: 500;
      }
    }
}
  .button {
    padding: 15px 30px;
    background-color: $rosa;
    color: $bordo;
    font-weight: bold;
    border-radius: 10px;

      &:hover {
        background-color: transparent;
        border: 2px solid $bordo;
        color: $blanco;
    }
  }   
  /*Fin Index*/
  /*Inicio Soy*/
  .main{
    background-color: $blanco;

    &__tittle-soy {
      @extend .tittle; 
    }

    &__article-soy {
      display: flex;
      padding: 30px;
      align-items: center;
    }

    &__imagen-soy {
      width: 150px;
      height: 150px;
    }

    &__description-soy {
      @extend .description;
    }

    &__div {
      display: flex;
      flex-direction: row;
      margin: 10px;
      padding: 10px;
    }
  }
  /*Fin soy*/
  /* Inicio Catalogo*/
  .main{
    background-color: $blanco;

    .main__tittle {
      @extend .tittle;
    }

    .main__container-galeria {
      @include grid(5, 1fr);
      @include grid(3, 1fr);
      gap: 50px;
      padding: 20px;
      margin: 20px 0px;
      justify-items: center;

    .main__container-imagenp {
        width: 300px;
        height: 300px;
        transition: all 1.5s;

          &:hover {
            transform: scale(1.2);
      }
      }
    }
  }
  
  /*Fin Catalogo*/
  /*Inicio Cuidados*/
  .main__cuidados{
    display: flex;
    flex-direction: column;
    background-color: $blanco;

    .main__cuidados-tittle {
      @extend .tittle; 
    }
  }

  .main__article {
      .main__descrip-cuidados {
        @extend .description;
    }

      .main__lista-cu{
        text-align: center;
        letter-spacing: 0.1rem;
        padding: 5px;
        margin: 5px;
        list-style-type: none;
    }
  }
  
  .video-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 10px 0px;
  }

  /*Fin cuidados*/
  /*Inicio Envios*/
  .main__envios {
    display: flex;
    flex-direction: column;
    background-color: $blanco;

      .main__tittle-envios {
        @extend .tittle;
    }
}
  .main__article {
      .main__descrip-envios {
        @extend .description;
    }
    .main__ord-envios {
      display: flex;
      flex-direction: column;
      list-style-type: none;

        li {
          text-align: center;
          padding: 5px;
          margin: 5px;
          letter-spacing: 0.1rem;
      }
    }
  }
  
  /*Fin envios*/
  /* Inicio Contacto*/
  .main__contacto{
    display: flex;
    flex-direction: column;

    .main__tittle-contacto {
      @extend .tittle;
  }
}
  
  .form__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 20px;

    .form__container-fieldset {
      padding: 20px;
      background: $rosa;
      color: $bordo;
      border: 1px solid $bordo;
      border-radius: 10px;
      font-size: 1.2rem;
    }
  }
  
  .bottons {
    width: 100%;
    background: $bordo;
    border: none;
    padding: 10px;
    color: $rosa;
    margin: 12px 0px;
    font-size: 14px;

      &:hover {
        color: $blanco;
      }
  }
  /*Fin contacto*/
  @media only screen and (max-width: 576px) {
    /*Iinicio Index*/
    .header {
      flex-direction: column;
      align-items: center;
    }
    .header__nav {
      justify-content: center;
    }
    /*Fin Index*/
    /*Inicio Soy*/
    .main__article-soy {
      flex-direction: column;
    }
    .main__imagen-soy {
      width: 300px;
      height: 250px;
    }
    /*Fin soy*/
    /*Inicio Galeria*/
    .main__container-galeria {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(30, 1fr);
    }
    /*Galeria Fin*/
    /*Inicio Contacto*/
    /*Contacto Fin*/
  }
  