@import "variables";
@import "estilosGenerales"; 

/*Inicio Index*/
  .main__index {
    height: 100vh;
    background-image: url(https://img.elo7.com.br/product/main/19D1B80/anel-cravejado-com-zirconias-folheado-em-ouro-18k.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-top: 1px solid $blanco;

    div{
      grid-column: 7/10;
      grid-row: 2/7;

      h1 {
        font-size: 3rem;
        font-weight: 500;
        margin: 5px;
      }
      h2 {
        font-size: 5.5rem;
        color: $bordo;
        text-transform: uppercase;
        text-shadow: $shadow;
      } 
      p {
        font-size: 1.5rem;
        font-weight: 500;
        color: $blanco;
        font-weight: bold;
      }
    }
}
  .button {
    padding: 10px 30px;
    background-color: $rosa;
    color: $bordo;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;

      &:hover {
        background-color: transparent;
        border: 5px solid $bordo;
        color: $blanco;
    }
  }   
  /*Fin Index*/
  /*Inicio Soy*/
  .main{
    background-color: $blanco;

    &__tittle-soy {
      @extend .tittle; 
    }

    &__article-soy {
      display: flex;
      padding: 30px;
      align-items: center;
    }

    &__imagen-soy {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      padding: 5px;
    }

    &__description-soy {
      @extend .description;
    }

    &__div {
      display: flex;
      flex-direction: row;
      @include general(10px, 10px);
    }
  }
  /*Fin soy*/
  /* Inicio Galeria*/
  .main{
    background-color: $blanco;

    .main__tittle {
      @extend .tittle;
    }

    .main__container-galeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 50px;
      @include general(20px, 20px);
      justify-items: center;

    .main__container-imagenp {
        width: 300px;
        height: 300px;
        transition: all 1.5s;

          &:hover {
            transform: scale(1.2);
      }
      }
    }
  }
  /*Fin Galeria*/
  /*Inicio Cuidados*/
  .main__cuidados{
    display: flex;
    flex-direction: column;
    background-color: $blanco;

    .main__cuidados-tittle {
      @extend .tittle; 
    }
  }

  .main__article {
      .main__descrip-cuidados {
        @extend .description;
    }

      .main__lista-cu{
        text-align: center;
        letter-spacing: 0.1rem;
        @include general(5px, 5px);
        list-style-type: none;
    }
  }
  
  .video-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    @include general(10px, 10px);
  }

  /*Fin cuidados*/
  /*Inicio Envios*/
  .main__envios {
    display: flex;
    flex-direction: column;
    background-color: $blanco;

      .main__tittle-envios {
        @extend .tittle;
    }
}
  .main__article {
      .main__descrip-envios {
        @extend .description;
    }
    .main__ord-envios {
      display: flex;
      flex-direction: column;
      list-style-type: none;

        li {
          text-align: center;
          @include general(5px, 5px);
          letter-spacing: 0.1rem;
      }
    }
  }
  
  /*Fin envios*/
  /* Inicio Contacto*/
  .main__contacto{
    height: 100vh;
    background-image: url(../img/fondocontacto.jpeg);
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .main__tittle-contacto {
      @extend .tittle;
  }
}
  
  .form__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding-top: 10px;

    .form__container-fieldset {
      padding: 20px;
      background: rgba(246, 204, 189, 0.4);
      color: $negro;
      border: 1px solid $bordo;
      border-radius: 10px;
      font-size: 1.2rem;
    }

    legend{
      color: $negro;
      font-weight: bold;
    }

    .div__controls {
      background: rgba(249, 249, 250, 0.1);
      border: 1px solid $bordo;
      border-radius: 2px;
      @include general(2px, 2px);
    }
  }
  
  .bottons {
    width: 100%;
    background: $bordo;
    border: none;
    padding: 10px;
    color: $rosa;
    margin: 12px 0px;
    font-size: 14px;

      &:hover {
        color: $blanco;
      }
  }
  /*Fin contacto*/

  //Tablet//

@media (max-width: 768px){

  /*Inicio Index*/
  .main__index{
    
    div{
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 3.2rem;
      } 
      p {
        font-size: 0.8rem;
      }
    }
}  

.button {
  padding: 6px 20px;
  font-size: 1rem;
}  

  /*Fin Index*/

  /*Inicio Soy*/
  .main__article-soy {
    flex-direction: column;
}
  .main__imagen-soy {
    width: 300px;
    height: 250px;
}
  /*Fin Soy*/

  /*Inicio Galeria*/
  .main{
    .main__container-galeria{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(15, 1fr);
    }
  }
  /*Fin Galeria*/

  /*Inicio Contacto*/
  .form__container{
    margin: 0px 0px;
    padding-top: 0px;
  }
  /*Fin Contacto*/

}

//Mobile//

@media (max-width: 576px) {

      /*Inicio Index*/
      .main__index{
    
        div{
          h1 {
            font-size: 1.5rem;
          }
          h2 {
            font-size: 2.5rem;
          } 
          p {
            font-size: 0.6rem;
          }
        }
    } 
    
      .button {
        padding: 6px 20px;
        font-size: 0.5rem;
      }  
      /*Fin Index*/

      /*Inicio Soy*/
      .main__article-soy {
          flex-direction: column;

          &__imagen-soy {
            width: 250px;
            height: 200px;
        }
      }
      /*Fin soy*/

      /*Inicio Galeria*/
      .main{
        .main__container-galeria {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(30, 1fr);
        }
      }
      /*Fin Galeria*/

      /*Inicio Contacto*/
      .form__container{
        margin: 0px 0px;
        padding-top: 0px;
      }
      /*Contacto Fin*/

}