 $bordo: #8c2f39;
 $rosa: #f0d0cb; 
 $blanco: white; 
 $negro: black; 

* {
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;
  }
  .navbar{
    background-color: $bordo;
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;

      &__nav-item {
    color: $rosa;
    font-size: 1.5rem;
  }
      &__collapse {
    justify-content: flex-end;
  }
}
  .main__index {
    height: 80vh;
    background-image: url(https://img.elo7.com.br/product/main/19D1B80/anel-cravejado-com-zirconias-folheado-em-ouro-18k.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);

    div{
      grid-column: 7/10;
      grid-row: 2/7;

      h1 {
        font-size: 2.5rem;
        font-weight: 500;
      }
      h2 {
        font-size: 4rem;
        color: $bordo;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px $blanco;
      } 
      p {
        font-weight: 500;
      }
    }
}
  .button {
    display: block;
    width: 50px;
    font-weight: 500;
    font-size: 0.8rem;
    background: none;
    color: $negro;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;

      &:hover {
        background-color: transparent;
        border: 2px solid $bordo;
        color: $blanco;
    }
  } 
  
  .footer {
    color: $bordo;
    font-size: 1.5rem;
    padding: 30px;
    margin-top: 20px;
    border-top: 1px solid $negro;
    
    &__tittle {
      color: $bordo;
      font-size: 1.5em;
      text-transform: uppercase;
      text-shadow: 5px 5px 10px $blanco;
      text-align: center;
      padding: 10px;
    }
    
    ul {
    display: flex;
    justify-content: center;

      li {
      list-style-type: none;
      margin: 0px 10px;
    }
  }
}
  .bi {
    font-size: 2rem;
    
      &:hover{
      color: $rosa;
    }
}
  
  /*Fin Index*/
  /*Soy*/
  .main__tittle-soy {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  main__article-soy {
    display: flex;
    padding: 30px;
    align-items: center;
  }
  main__imagen-soy {
    width: 150px;
    height: 150px;
  }
  main__description-soy {
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
  }
  main__div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
  }
}
  /*Fin soy*/
  /*Catalogo*/
  .main__tittle-catalogo {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  }
  
  .main__imagenp {
    width: 300px;
    height: 300px;
    transition: all 1.5s;
  }
  
  .main__imagenp:hover {
    transform: scale(1.2);
  }
  
  .main__container-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 50px;
    padding: 20px;
    margin: 20px 0px;
    justify-items: center;
  }
  .div__email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 5px 0px;
  }
  
  /*Fin Catalogo*/
  /*Cuidados*/
  .main__tittle-cuidados {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  }
  
  .main__descrip-cuidados {
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
  }
  
  .main__lista-cu {
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
  }
  
  .main-cuidados {
    display: flex;
    flex-direction: column;
  }
  
  .main__tittle-cuidados {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  }
  
  .video-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 10px 0px;
  }

  /*Fin cuidados*/
  /*Envios*/
  .main__tittle-envios {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  }
  
  .main_envios {
    display: flex;
    flex-direction: column;
  }
  
  .main__descrip-envios {
    text-align: center;
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.1rem;
  }
  
  .main__tittle-envios {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 10px;
  }
  
  .main__ord-envios {
    display: flex;
    flex-direction: column;
  }
  
  .main__lista-envios {
    text-align: center;
    padding: 5px;
    margin: 5px;
    list-style: none;
    letter-spacing: 0.1rem;
  }
  
  /*Fin envios*/
  /*Contacto*/
  .main__tittle-contacto {
    color: $bordo;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px $blanco;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
  
  .form__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 20px;
  }
  
  .form__container-fieldset {
    padding: 20px;
    background: $rosa;
    color: $bordo;
    border: 1px solid $bordo;
    border-radius: 10px;
    font-size: 1.2rem;
  }
  
  .bottons {
    width: 100%;
    background: $bordo;
    border: none;
    padding: 10px;
    color: $rosa;
    margin: 12px 0px;
    font-size: 14px;
  }
  /*Fin contacto*/
  @media only screen and (max-width: 576px) {
    /*Index*/
    .header {
      flex-direction: column;
      align-items: center;
    }
    .header__nav {
      justify-content: center;
    }
    /*Fin Index*/
    /*Soy*/
    .main__article-soy {
      flex-direction: column;
    }
    .main__imagen-soy {
      width: 300px;
      height: 250px;
    }
    /*Fin soy*/
    /*Catalogo*/
    .main__container-catalogo {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(30, 1fr);
    }
    /*Catalogo*/
    /*Cuidados*/
  }
  