*{
    margin: 0;
    padding: 0;
    font-family: 'raleway', sans-serif;
}
/*Index*/
.header{
    position: sticky;
    top: 0px;
}
.navbar{
    width: 100%;
}
.nav-link{
   color: #8c2f39; 
   font-size: 1.5rem;
}
.navbar-collapse {
    flex-grow: initial;
}
/*Index*/
/*.header{
    background-image: linear-gradient(#8c2f39, #f0d0cb);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__lista {
    display: flex;
}
.header__item a{
    font-size: 20px;
    margin: 0 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.main__index{
    height: 80vh;
    background-image: url(https://img.elo7.com.br/product/main/19D1B80/anel-cravejado-com-zirconias-folheado-em-ouro-18k.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.main__index-div{
    grid-column: 7 / 10;
    grid-row: 2 / 7;
}
.main__h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.main__h2{
    font-size: 4rem;
    color: #8c2f39;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
}
.main__p{
    font-weight: 500;
}
.button{
    display: block;
    width: 50px;
    font-weight: 500;
    font-size: 0.8rem;
    background: none;
    color: black;
    padding: 10px 20px;
    border: 2px solid #8c2f39;
    border-radius: 50px;
    margin-top: 20px;
    text-decoration: none;
}
.button:hover{
    background-color: transparent;
    border: 2px solid #8c2f39;
    color: white;
}
.footer-index{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
}
.footer-index{
    display: flex;
    flex-direction: column;
}
.footer__tittle-index{
    color: #8c2f39;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.footer__div-catalogo{
    display: flex;
    flex-direction: column;
}
.footer__description-index{
    color: #8c2f39;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    color: black;
    text-align: center;
    letter-spacing: 0.1rem;
}
.black, .blackDos, .blackTres, .blackCuatro, .blackCinco, .blackSeis, .blackSiete{
    font-weight: bold;
    color: black;
    text-align: center;
}
/*Fin Index*/

/*Soy*/
.main__tittle-soy{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.main__article-soy{
    display: flex;
    padding: 30px;
    align-items: center;
}
.main__imagen-soy{
    width: 150px;
    height: 150px;
}
.main__description-soy{
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}
.main__div{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.footer__description-soy{
    color: black;
    text-align: center;
}
.footer__soy{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
    display: flex;
    flex-direction: column;
}
.footer__tittle-soy{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.footer__description-soy{
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.1rem;
    text-align: center;
}
/*Fin soy*/

/*Catalogo*/
.main__tittle-catalogo{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.main__imagenp{
    width: 300px;
    height: 300px;
    transition: all 1.5s;
}
.main__imagenp:hover{
    transform: scale(1.2);
}
.main__container-catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 50px;
    padding: 20px;
    margin: 20px 0px;
    justify-items: center;
}
.footer-catalogo{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
    display: flex;
    flex-direction: column;
}
.footer__div-catalogo{
    display: flex;
    flex-direction: column;
}
.footer__tittle-catalogo{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 5px;
}
.footer__description-catalogo{
    text-align: center;
    padding: 5px;
    letter-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
    color: black;
    text-align: center;
}
.div__email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin: 5px 0px;
}

/*Fin Catalogo*/

/*Cuidados*/
.main__tittle-cuidados{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}    
.main__descrip-cuidados{
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}
.main__lista-cu{
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}
.main-cuidados{
    display: flex;
    flex-direction: column;
}
.main__tittle-cuidados{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.video-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 10px 0px;
}
.footer__cuidados{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
    display: flex;
    flex-direction: column;
}
.footer__div-envios{
    display: flex;
    flex-direction: column;
}
.footer__tittle-cuidados{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.footer__descrip-cuidados{
    color: black;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}
/*Fin cuidados*/

/*Envios*/
.main__tittle-envios{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.main_envios{
    display: flex;
    flex-direction: column;
}
.main__descrip-envios{
    text-align: center;
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.1rem;
}
.main__tittle-envios{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 10px;
}
.main__ord-envios{
    display: flex;
    flex-direction: column;
}
.main__lista-envios{
    text-align: center;
    padding: 5px;
    margin: 5px;
    list-style: none;
    letter-spacing: 0.1rem;
}
.footer-envios{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
    display: flex;
    flex-direction: column;
}
.footer__div-envios{
    display: flex;
    flex-direction: column;
}
.footer__tittle-envios{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 5px;
}
.footer__descrip-p{
    text-align: center;
    padding: 5px;
    letter-spacing: 0.1rem;
}
.footer__description-envios{
    color: black;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}
/*Fin envios*/

/*Contacto*/
.main__tittle-contacto{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.form__container{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 20px;
}
.form__container-fieldset{
    padding: 20px;
    background: #f0d0cb;
    color: #8c2f39;
    border: 1px solid #8c2f39;
    border-radius: 10px;
    font-size: 1.2rem;
}
.bottons{
    width: 100%;
    background: #8c2f39;
    border: none;
    padding: 10px;
    color: #f0d0cb;
    margin: 12px 0px;
    font-size: 14px;
}
.footer-contacto{
    background-image: linear-gradient(#f0d0cb, #8c2f39);
    display: flex;
    flex-direction: column;
}
.footer__div-contacto{
    display: flex;
    flex-direction: column;
}
.footer__tittle-contacto{
    color: #8c2f39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    padding: 5px;
}
.footer__descrip-contacto{
    text-align: center;
    padding: 5px;
    letter-spacing: 0.1rem;
}
.footer__description-contacto{
    color: black;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 5px;
    margin: 5px;
}

/*Fin contacto*/

@media only screen and (max-width: 768px){
}

@media only screen and (max-width: 576px) {
/*Index*/

.header{
    flex-direction: column;
    align-items: center;
}
.header__nav{
    justify-content: center;
}

/*Fin Index*/

/*Soy*/
.main__article-soy{
    flex-direction: column;
}
.main__imagen-soy{
    width: 300px;
    height: 250px;
}
/*Fin soy*/

/*Catalogo*/
.main__container-catalogo{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(30, 1fr);
}
/*Catalogo*/

/*Cuidados*/
}