* {
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
}

/*Inicio Index*/
.navbar {
  background-color: #f0d0cb;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
}
.navbar .navbar-collapse {
  flex-grow: initial;
}
.navbar .nav-link {
  color: #8c2f39;
  font-size: 1.5rem;
}
.navbar .nav-link:hover {
  color: white;
}

.footer {
  background-color: #f0d0cb;
  font-size: 1.5rem;
  padding: 30px;
  margin-top: 0px;
  border-top: 1px solid white;
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer ul li {
  list-style-type: none;
  margin: 0px 10px;
}

.bi {
  font-size: 2rem;
}
.bi:hover {
  color: #8c2f39;
}

/*Fin Index*/
.tittle, .main__contacto .main__tittle-contacto, .main__envios .main__tittle-envios, .main__cuidados .main__cuidados-tittle, .main .main__tittle, .main__tittle-soy, .footer__tittle {
  color: #8c2f39;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.description, .main__article .main__descrip-envios, .main__article .main__descrip-cuidados, .main__description-soy {
  text-align: center;
  padding: 5px;
  margin: 5px;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 576px) and (max-width: 576px) {
  /*Iinicio Index*/
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__nav {
    justify-content: center;
  }
  /*Fin Index*/
  /*Inicio Soy*/
  .main__article-soy {
    flex-direction: column;
  }
  .main__imagen-soy {
    width: 300px;
    height: 250px;
  }
  /*Fin soy*/
  /*Inicio Galeria*/
  .main__container-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr, 1fr);
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(1fr, 1fr);
  }
  /*Galeria Fin*/
  /*Inicio Contacto*/
  /*Contacto Fin*/
}
/*Inicio Index*/
.main__index {
  height: 100vh;
  background-image: url(https://img.elo7.com.br/product/main/19D1B80/anel-cravejado-com-zirconias-folheado-em-ouro-18k.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  border-top: 1px solid white;
}
.main__index div {
  grid-column: 6/10;
  grid-row: 3/7;
}
.main__index div h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 5px;
}
.main__index div h2 {
  font-size: 5rem;
  color: #8c2f39;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px white;
}
.main__index div p {
  font-weight: 500;
  color: white;
  font-weight: bold;
}

.button {
  padding: 10px 30px;
  background-color: #f0d0cb;
  color: #8c2f39;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}
.button:hover {
  background-color: transparent;
  border: 5px solid #8c2f39;
  color: white;
}

/*Fin Index*/
/*Inicio Soy*/
.main {
  background-color: white;
}
.main__article-soy {
  display: flex;
  padding: 30px;
  align-items: center;
}
.main__imagen-soy {
  width: 150px;
  height: 150px;
}
.main__div {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

/*Fin soy*/
/* Inicio Galeria*/
.main {
  background-color: white;
}
.main .main__container-galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  gap: 50px;
  padding: 20px;
  margin: 20px 0px;
  justify-items: center;
}
.main .main__container-galeria .main__container-imagenp {
  width: 300px;
  height: 300px;
  transition: all 1.5s;
}
.main .main__container-galeria .main__container-imagenp:hover {
  transform: scale(1.2);
}

/*Fin Galeria*/
/*Inicio Cuidados*/
.main__cuidados {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main__article .main__lista-cu {
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.video-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin: 10px 0px;
}

/*Fin cuidados*/
/*Inicio Envios*/
.main__envios {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main__article .main__ord-envios {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.main__article .main__ord-envios li {
  text-align: center;
  padding: 5px;
  margin: 5px;
  letter-spacing: 0.1rem;
}

/*Fin envios*/
/* Inicio Contacto*/
.main__contacto {
  height: 100vh;
  background-image: url(../img/fondocontacto.jpeg);
  background-size: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.form__container {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  padding-top: 10px;
}
.form__container .form__container-fieldset {
  padding: 20px;
  background: rgba(246, 204, 189, 0.4);
  color: black;
  border: 1px solid #8c2f39;
  border-radius: 10px;
  font-size: 1.2rem;
}
.form__container legend {
  color: black;
  font-weight: bold;
}
.form__container .div__controls {
  background: rgba(249, 249, 250, 0.1);
  border: 1px solid #8c2f39;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
}

.bottons {
  width: 100%;
  background: #8c2f39;
  border: none;
  padding: 10px;
  color: #f0d0cb;
  margin: 12px 0px;
  font-size: 14px;
}
.bottons:hover {
  color: white;
}

/*Fin contacto*/

/*# sourceMappingURL=style.css.map */
